### Compiled Java Files ###
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!lib/*.jar
!lib/**/*.jar
!lib/**/*.dll

### virtual machine crash logs ###
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace
.history/

### Windows ###
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

### Mac OS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

### Build Artifacts & Project Specific ###
build_temp/
output_exe/
jar_temp/
database/backup/
Rapport G9.pdf
sources_list.txt
*.exe
*.msi
*.msm
*.msp
temp/
tmp/

### AI / Tooling ###
.gemini/